<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap/3.2.0/css/bootstrap.min.css" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>API Zé Delivery</title>
</head>
<body>
<div class="container">
    <h1>Not found :(</h1>
    <em>This page is located in views/404.phtml</em>
</div>
</body>
</html>