<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap/3.2.0/css/bootstrap.min.css" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>API Zé Delivery</title>
</head>
<body>
<div class="container">

    <div class="page-header">
        <h1>Congratulations!</h1>
    </div>

    <p>It's working fine!</p>

    <em>This page is located at views/index.phtml</em>
</div>
</body>
</html>